<niz-tabs [tabs]="tabs">
  <niz-toolbar>
    <div start>
      <a class="block focus:outline-none" [routerLink]="['/']">
        <img class="h-10" src="assets/img/logo-text.svg" alt="notiz.dev" />
      </a>
    </div>

    <div end class="md:flex">
      <a class="block text-color hover:text-color-light focus:text-color-light focus:outline-none md:ml-2"
        [routerLink]="['/']">blog</a>
      <a class="block text-color hover:text-color-light focus:text-color-light focus:outline-none md:ml-2"
        [routerLink]="['/']">authors</a>
      <a class="block text-color hover:text-color-light focus:text-color-light focus:outline-none md:ml-2"
        [routerLink]="['/']">tags</a>
    </div>
  </niz-toolbar>

  <main class="w-full max-w-screen-xl mx-auto p-2">
    <router-outlet></router-outlet>
  </main>

  <niz-footer></niz-footer>
</niz-tabs>
