@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --blue: #55b9f3;
  --cyan: #55f3de;
  --dark-blue: #556af3;
}

body {
  @apply bg-background text-color;
}

.dark {
  --background: #121212;
  --text-color: #ffffff;
  --text-color-light: #a0aec0;
}

.light {
  --background: #f4ffff;
  --text-color: #1a202c;
  --text-color-light: #718096;
}
