@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.dark {
  @apply bg-black;
}

.light {
  @apply bg-gray-100;
}
