<article class="p-8">
  <section id="logo">
    <h2>Logo</h2>
  </section>

  <hr class="my-10 border-t-1 border-gray-300" />

  <section id="colors">
    <h2>Colors</h2>

    <div>
      <h2 class="text-xl tracking-tight font-semibold">Logo colors</h2>

      <div class="mt-2 grid grid-cols-3 gap-16">
        <div>
          <div class="h-20 bg-blue"></div>
          <p class="text-lg font-semibold">notiz blue</p>
          <p>#55b9f3</p>
        </div>
        <div>
          <div class="h-20 bg-cyan"></div>
          <p class="text-lg font-semibold">notiz cyan</p>
          <p>#55b9f3</p>
        </div>
        <div>
          <div class="h-20 bg-dark-blue"></div>
          <p class="text-lg font-semibold">notiz dark blue</p>
          <p class="text-lg font-semibold">#55b9f3</p>
        </div>
      </div>
    </div>
  </section>

  <hr class="my-10 border-t-1 border-gray-300" />

  <section id="text">
    <h2>Text</h2>

    <h1>Learn how to ...</h1>
    <h2>Author</h2>
    <h3>Share post</h3>
    <h4>Newsletter</h4>
  </section>

  <hr class="my-10 border-t-1 border-gray-300" />

  <section id="chips">
    <h2>Chips</h2>

    <niz-chip size="xs" url="search">
      Angular
    </niz-chip>

    <niz-chip size="sm">
      Angular
    </niz-chip>

    <niz-chip size="md">
      Prisma
    </niz-chip>

    <niz-chip size="lg">
      Nest
    </niz-chip>

    <niz-chip size="xl" url="search">
      GitHub
    </niz-chip>
  </section>
</article>
