name: Design Package

on:
  release:
    types: [created]

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: '@marcjulian'
      - run: npm i
      - run: npm run publish:ngx-design
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
