name: Publish Design Package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12
        registry-url: https://registry.npmjs.org/
    - run: npm i
    - run: npm run publish:ngx-design
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
